# pycache
**/__pycache__

# zipped datasets
data/**/*.gz

# bash script's outputs
data/**/report.out

# script to run all simulations
data/run_all.sh

# notebooks for less important visualizatioin
**/*.ipynb
!src/show_grids.ipynb
